body {
  background-color: bisque;
}

h1 {
  text-align: center;
  color: navy;
}

button {
  background-color: darkblue;
  color: white;
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  width: 80%;
  height: auto;
  padding: 0.5rem;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}
